<div class="card">
  <div *ngIf="title || hasAddBtn" class="card-header d-flex justify-content-between">
    <span class="card-header__title">{{title}}</span>
    <div class="card-header__tools d-flex">
      <div *ngIf="hasAddBtn">
        <button class="btn btn-sm">+</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="hasSearch" class="form-group m-1">
      <input type="text" class="form-control" placeholder="Поиск">
    </div>
    <ul class="list-group">
      <li *ngFor="let item of listData" class="list-group-item list-group-item-action border-0">
        <app-list-item
          [id]="item.id || item.title"
          [title]="item.title"
          [isSelectable]="item.hasOwnProperty('isSelectable') ? item.isSelectable : isListSelectable"
          [isEditable]="item.hasOwnProperty('isEditable') ? item.isEditable : isListEditable"
          [isDeletable]="item.hasOwnProperty('isDeletable') ? item.isDeletable : isListDeletable"
          [isSelected]="item.isSelected"
          (editEmitter)="onEdited($event)"
          (deleteEmitter)="onDeleted($event)"
          (selectEmitter)="onSelected($event)">
        </app-list-item>
      </li>
    </ul>
  </div>
</div>
