.toggle-button {
  position: absolute;
  width: 44px;
  height: 40px;
  padding: 4px;
  transition: .25s;
  z-index: 15;
}
.toggle-button:hover {
  cursor: pointer;
}
.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: .5s;
}
.toggle-button .menu-bar-top {
  border: 4px solid #555;
  border-bottom: none;
  top: 13px;
}
.toggle-button .menu-bar-middle {
  height: 4px;
  background-color: #555;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 17px;
}
.toggle-button .menu-bar-bottom {
  border: 4px solid #555;
  border-top: none;
  top: 35px;
}
.button-open .menu-bar-top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: .5s;
}
.button-open .menu-bar-middle {
  transition: .1s ease-in;
  opacity: 0;
}
.button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(8px, -7px);
  transition: .5s;
}
.menu-wrap {
  padding: 40px 5px 10px 5px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 280px;
  margin-left: -280px;
  font-size: 1em;
  font-weight: 700;
  overflow: auto;
  transition: .25s;
  z-index: 10;
}
.menu-show {
  margin-left: 0;
  box-shadow: 4px 6px 6px 0 #B9ADAD;
}
