.slideBtn {
  display:flex;
  align-items: center;
  width: auto;
  height: 40px;
  &__item {
    position: relative;
    color: #888;
    &:after {
      content: '';
      position: absolute;
      top: calc(100% + 2px);
      left: 0;
      width: 0;
      height: 2px;
      background: #2196F3;
      transition: all 0.3s;
    }
    &--active {
      color: #000;
    }
  }
}
