<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">Задания</div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action border-0">Задание 1</li>
          <li class="list-group-item list-group-item-action border-0">Задание 2</li>
          <li class="list-group-item list-group-item-action border-0">Задание 3</li>
        </ul>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <button class="btn">+</button>
        <button class="btn">-</button>
      </div>
    </div>
  </div>

  <div class="col-8">
    <div class="form-group">
      <label for="comment">Постановка:</label>
      <textarea class="form-control" rows="2  " id="comment"></textarea>
    </div>
    <div class="form-group">
      <label for="comment">Варианты ответов:</label>
      <ul class="list-group border">
        <li class="list-group-item list-group-item-action border-0">Ответ 1</li>
        <li class="list-group-item list-group-item-action border-0">Ответ 2</li>
        <li class="list-group-item list-group-item-action border-0">Ответ 3</li>
      </ul>
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button class="btn">+</button>
          <button class="btn">-</button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-back-btn></app-back-btn>
