<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">Задания</div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action border-0 tasks__item-container">
            <div class="tasks__item  d-flex justify-content-between align-items-center">
              <span class="tasks__item-title">Задание 1</span>
              <button class="btn text-danger">x</button>
            </div>
          </li>
          <li class="list-group-item list-group-item-action border-0 tasks__item-container">
            <div class="tasks__item  d-flex justify-content-between align-items-center">
              <span class="tasks__item-title">Задание 2</span>
              <button class="btn text-danger">x</button>
            </div>
          </li>
          <li class="list-group-item list-group-item-action border-0 tasks__item-container">
            <div class="tasks__item  d-flex justify-content-between align-items-center">
              <span class="tasks__item-title">Задание 3</span>
              <button class="btn text-danger">x</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-outline-primary">+</button>
      </div>
    </div>
  </div>

  <div class="col-8">
    <div class="form-group">
      <label for="comment">Постановка:</label>
      <textarea class="form-control" rows="2  " id="comment"></textarea>
    </div>
    <div class="form-group">
      <label for="comment">Варианты ответов:</label>
      <ul class="list-group border">
        <li class="list-group-item list-group-item-action border-0 answers__item-container">
          <div class="answers__item">
            <span class="answers__title">Ответ 1</span>
            <div class="answers__item-tools-container">
              <button class="btn"><img class="answers__item-tools-edit-icon" src="../../../../assets/icons/edit_icon.svg"></button>
              <button class="btn text-danger">x</button>
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action border-0 answers__item-container">
          <div class="answers__item">
            <span class="answers__title">Ответ 2</span>
            <div class="answers__item-tools-container">
              <button class="btn"><img class="answers__item-tools-edit-icon" src="../../../../assets/icons/edit_icon.svg"></button>
              <button class="btn text-danger">x</button>
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action border-0 answers__item-container">
          <div class="answers__item">
            <span class="answers__title">Ответ 3</span>
            <div class="answers__item-tools-container">
              <button class="btn"><img class="answers__item-tools-edit-icon" src="../../../../assets/icons/edit_icon.svg"></button>
              <button class="btn text-danger">x</button>
            </div>
          </div>
        </li>
      </ul>
      <div class="row">
        <div class="col-12 d-flex justify-content-end mt-2">
          <button class="btn btn-outline-primary">+</button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-back-btn></app-back-btn>
