.list {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-tools {
      &-container {
        padding: 0px 10px;
        display: flex;
      }
      &-icon {
        width: 15px;
        height:  15px;
        &--isRight {
          fill: #ddd;
          &-active {
            fill: #090;
          }
        }
      }
    }
  }
}
