<div class="list__item" (click)="selected()">
  <span *ngIf="!editing" class="list__title">{{title}}</span>
  <input *ngIf="editing" [(ngModel)]="title" #editInput (blur)="edited()" type="text" class="form-control">
  <div class="list__item-tools-container">
    <button (click)="setRight()" class="btn btn-sm" [class.isRight]="isRight">
      <svg class="list__item-tools-icon list__item-tools-icon--isRight" [class.list__item-tools-icon--isRight-active]="isRight">
        <use xlink:href="#testAnwerRight"></use>
      </svg></button>
    <button *ngIf="!editing" (click)="onEditing()" class="btn btn-sm"><img class="list__item-tools-icon list__item-tools-icon--edit" src="../../../../assets/icons/edit_icon.svg"></button>
    <button (click)="deleted($event)" class="btn btn-sm text-danger">x</button>
  </div>
</div>
