<div class="list__item" [class.list__item--selected]="isSelected" (click)="selected()">
  <span *ngIf="!editing" class="list__title">{{title}}</span>
  <input *ngIf="editing" [(ngModel)]="title" #editInput (blur)="edited()" type="text" class="form-control">
  <div class="list__item-tools-container">
    <button *ngIf="isEditable && !editing" (click)="onEditing()" class="btn btn-sm"><img class="list__item-tools-edit-icon" src="../../../../assets/icons/edit_icon.svg"></button>
    <button *ngIf="isDeletable" (click)="deleted($event)" class="btn btn-sm text-danger">x</button>
  </div>
</div>
