<div class="row container--mt-toolbar">
  <div *ngIf="testEnd" class="d-flex flex-column flex-fill justify-content-center ">
    <h3 class="text-center">Ваш результат:</h3>
    <span class="text-center"> {{testResults}}% </span>
  </div>
  <div *ngIf="!testEnd && hasTestItems" class="container">
    <app-test-item *ngFor="let testItem of testItems" [testItem]="testItem" [showAnswers]="showAnswers"></app-test-item>

    <div *ngIf="!testEnd" class="container d-flex justify-content-end">
      <button class="btn btn-primary" (click)="sendBtnClickHandler()">Отправить</button>
    </div>
  </div>
</div>
<app-toolbar [title]="'Выполнение теста'">
  <li class="toolbar__item">
    <app-back-btn></app-back-btn>
  </li>
</app-toolbar>


